.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--light-blue);
}

form {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

h1 {
  color: var(--blue);
  text-align: center;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: var(--blue);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}

button:hover{
  background: var(--blue-hover);
}